@import url('./header/header.css');
@import url('./description/description.css');
@import url('./techniques/techniques.css');
@import url('./video/__iframes/video__iframes.css');
@import url('./oakley/oakley.css');
@import url('./feynman/feynman.css');
@import url('./digits/digits.css');
@import url('./khan/khan.css');
@import url('./kaufman/kaufman.css');
@import url('./resources/resources.css');
@import url('./footer/footer.css');
@import url('./opacity/opacity.css');


.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

