.header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  overflow: hidden;
}
