@import url('./blocks/table/table.css');
@import url('./blocks/table/_theme/table_theme_dark.css');
@import url('./blocks/kaufman/__triangle/kaufman__triangle.css');

.kaufman{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: -2;
  overflow: hidden;
}
