@import url('../table/table.css');
@import url('../_theme/table_theme_dark.css');
@import url('./__triangle/kaufman__triangle.css');

.kaufman{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: -2;
}
