@import url('./blocks/logo/_place/logo_place_header.css');
@import url('./blocks/logo/_place/logo_place_footer.css');

.logo{
  width: 154px;
  height: 31px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
